<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="app.git.branchfactory" class="Zsotyooo\JiraGitReleaseTool\Git\BranchFactory">
            <argument type="service" id="app.config.config" />
        </service>

        <service id="app.git.releasebranchcollection" class="Zsotyooo\JiraGitReleaseTool\Git\ReleaseBranchCollection">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.git.branchfactory" />
        </service>

        <service id="app.git.projectbranchcollection" class="Zsotyooo\JiraGitReleaseTool\Git\ProjectBranchCollection">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.git.branchfactory" />
        </service>

        <service id="app.git.etcbranchcollection" class="Zsotyooo\JiraGitReleaseTool\Git\EtcBranchCollection">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.git.branchfactory" />
        </service>

    </services>

</container>
