<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        
        <service id="app.jira.ticketfactory" class="Zsotyooo\JiraGitReleaseTool\Jira\TicketFactory">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.jirarestapi.ticketfetcher" />
        </service>

    </services>

</container>
