<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="app.feature.list.controller" class="Zsotyooo\JiraGitReleaseTool\Feature\Listing\Controller">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.git.releasebranchcollection" />
            <argument type="service" id="app.git.projectbranchcollection" />
            <argument type="service" id="app.jira.ticketfactory" />
        </service>

        <service id="app.feature.etclist.controller" class="Zsotyooo\JiraGitReleaseTool\Feature\Listing\EtcController">
            <argument type="service" id="app.config.config" />
            <argument type="service" id="app.git.releasebranchcollection" />
            <argument type="service" id="app.git.etcbranchcollection" />
            <argument type="service" id="app.jira.ticketfactory" />
        </service>
    </services>

</container>
