<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="app.config.config_loader" class="Zsotyooo\JiraGitReleaseTool\Config\Loader"/>

        <service id="app.config.config_factory" class="Zsotyooo\JiraGitReleaseTool\Config\ConfigFactory">
            <argument type="service" id="app.config.config_loader" />
        </service>

        <service id="app.config.config" class="Zsotyooo\JiraGitReleaseTool\Config\Config">
            <factory service="app.config.config_factory" method="createConfig" />
        </service>
    </services>

</container>
